<!DOCTYPE html>
<html lang="en">

<head>
    {{>headerLinks}}
</head>

<body>

    <!-- ======= Header ======= -->
    <header id="header" class="header fixed-top">
        {{>header}}
    </header><!-- End Header -->

    <!-- ======= Hero Section ======= -->
    <!-- ======= Footer ======= -->
    <footer id="footer" class="footer">

        <div class="footer-newsletter">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-6">
                        <form action="" method="post">
                            <input type="text" name="cityName" id='cityName'>
                            <input type="submit" id="weatherBtn" value="Search">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </footer><!-- End Footer -->
    <div class="page-content page-container" id="page-content">
        <div class="padding">
            <div class="row container d-flex justify-content-center">
                <div class="col-lg-8 grid-margin stretch-card">
                    <!--weather card-->
                    <div class="card card-weather">
                        <div class="card-body">
                            <div class="weather-date-location">
                                <p class="weather-result" id="weatherResult">Check the city weather</p>
                            </div>
                            <div class="weather-data d-flex">
                                <div class="mr-auto">
                                    <h4 class="display-3">
                                        <span id="temp">0</span>
                                        <span class="symbol">°</span>C
                                    </h4>
                                    <span class="weather-location" id="place"></span>
                                    <h4 class="display-3" id="weatherType"></h4>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--weather card ends-->
                </div>
            </div>
        </div>
    </div><!-- End Hero -->


    <!-- ======= Footer ======= -->
    <footer id="footer" class="footer">
        {{>footer}}
    </footer><!-- End Footer -->

    <a href="#" class="back-to-top d-flex align-items-center justify-content-center">
        <iclass="bi bi-arrow-up-short"></i>
    </a>

    <!-- Vendor JS Files -->
    <script src="vendor/purecounter/purecounter.js"></script>
    <script src="vendor/aos/aos.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="vendor/glightbox/js/glightbox.min.js"></script>
    <script src="vendor/isotope-layout/isotope.pkgd.min.js"></script>
    <script src="vendor/swiper/swiper-bundle.min.js"></script>
    <script src="vendor/php-email-form/validate.js"></script>

    <!-- Template Main JS File -->
    <script src="js/main.js"></script>
    <script src="js/weather.js"></script>
</body>

</html>